@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Comp Pro Regular';
    src: url('../fonts/PFDinTextCompPro-Regular.woff2') format('woff2'),
        url('../fonts/PFDinTextCompPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Comp Pro Bold';
    src: url('../fonts/PFDinTextCompPro-Bold.woff2') format('woff2'),
        url('../fonts/PFDinTextCompPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

