// FONTS
$main-font: 'PF Din Text Comp Pro Regular', sans-serif;
$main-font_bold: 'PF Din Text Comp Pro Bold', sans-serif;
$accent-font: 'Roboto Condensed', sans-serif;


// COLORS
$white-color: #fff;
$main-light-color: #fcfcfc;
$main-light-color_lighten: #f1f1f1;
$light-text-color: #efefef;
$light-text-color_bg: #e8e8e8;
$secondary-light-color: #f2f2f2;
$dark-color: #2f3032;
$dark-color-secondary: #252627;
$dark-color-text: #5b5b5b;
$dark-color-text_bold: #3d3d3d;
$main-accent-color: #b5904e;
$secondary-accent-color: #c7b084;
$accent-border-color: #d9be8f;
$main-grey-color: #b2b2b2;
$border-color: #dadada;
$grey-color: #949494;


// SETTINGS
$baseFontSize: 16px;
$desktop-width: 1510px;
//$tablet-width: 768px;
//$mobile-width: 320px;
//$gutters-desktop: 120px;
//$gutters-tablet: 64px;
//$gutters-mobile: 20px;

